<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2><%= @post.title %></h2>
      <div class="d-flex justify-content-between align-items-center">
        <p class="text-muted"><%= @post.created_at.strftime("%B %d, %Y") %> por <%= @post.user.name %></p>
        <p><%= link_to "Editar", edit_post_path, class: 'h6 text-decoration-none me-2' if @post.user == current_user %>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @post.body %></p>
    </div>

    <div class="card-footer pt-4">
      <h3 class="h5">Área de Comentários</h3>
      
      <div class="mb-5 mt-3" id="comment_form">
        <%= render partial: "comments/form", locals: { model: @post, post: @post } %>
      </div>

      <hr>

      <div class="mt-5" id="comment_area">
        <%= render partial: "comments/comments", locals: { comments: @post.comments } %>
      </div>
    </div>
  </div>
</div>