<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">
    <header class="d-flex justify-content-between p-3 bg-white border-bottom shadow-sm">
      <h1><%= link_to "Blogapp", root_path, class: 'text-decoration-none text-dark' %> </h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><%= link_to 'Denúncias', admin_reports_path %></li>
        </ul>
      </nav>

    </header>
    <div class="container">
      <%= render 'shared/flash_messages' %>
    </div>

    <main class="bg-white container mt-4 p-3 rounded border shadow-lg">
      <%= yield %>
    </main>
  </body>
</html>
